.chart {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.album_container {
    width: 850px;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    grid-template-columns: 150px 1fr 100px 50px 50px;
    margin: 0 auto;
    
}

.album_name {
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
}

.href {
    text-decoration: none;
    font-family: Montserrat;
    font-size: large;
}

.img {
    width: 90px;
    height: 90px;
    z-index: 20;
}