.chart {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.album_container {
    width: auto;
    height: auto;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    grid-template-columns: 150px 1fr 100px 50px 50px;
    
}

.album_name {
    font-family: Montserrat;
    font-size: large;
}

.href {
    text-decoration: none;
    font-family: Montserrat;
    font-size: large;
}

// .img {
//     width: 100px;
//     height: 50px;
//     z-index: 20;
// }