.nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: auto;
    height: 100px;
}

.nav_element {
font-size: x-large;
font-family: Montserrat;
text-decoration: none;
padding-top: 20px;
}