.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 146, 146);
    justify-content: center;
    gap: 0.5%;
    visibility: visible;

    h3 {
       font-size: large;
    }

    p {
        font-size: medium;
    }

}