.fav_albums_box {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(38, 118, 91);
}